@import "bootstrap";
@import "animate";
// Variables
@import "variables";

body.loading:after{
	content: '';
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height:100%;
	background-color: rgba(white,.3);
	z-index: 998;
}
body.loading:before{
	content: url('/img/loader.gif');
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	z-index: 999;
}
.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader .img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
	span{
		display:block;
	}
}

/*.preloader div {
	display: none;
	/* Preload the Second Pricing Image */
	//background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
	//background-position: 9999px 9999px;
/*}*/
.menu-fixed{
	position: relative;
	padding: .5rem;
	.menu-fixed-container{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
		a {
			margin-bottom: .5rem;
		}
	}
}
.menu-fixed.scroll{
	background-color: #3c8dbc;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.todo-list>li .tools
	{
		display:block !important;
	}
.todo-list>li:hover .tools{
	display:inline-block !important;
}
@media screen and (min-width:1024px){
	
	.todo-list>li .tools
	{
		display:none !important;
	}

}
@media screen and (min-width:768px){
	.menu-fixed{
		display:none;
	}

}

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
td.fc-day.fc-past{
    /*background-color: #dd4b39 !important;
    opacity: .65 !important;
    cursor: not-allowed !important;*/
}
/*.fc-day:hover{background:lightblue;cursor: pointer;}
.fc-content:hover{background:lightblue;cursor: pointer;}
.fc-content td:hover{background: #adf4fa;}*/
.fc-nonbusiness {
    background-color: #dd4b39 !important;
    opacity: .65;
    cursor: not-allowed;
}
#calendar .fc-center h2{
	font-size:22px;
}
.form-control{
	border-radius: 0;
}
.help-block{
	color: #C23321;
}
.notification-app{
	text-align:center;
	padding: .5rem;
	a {
	  text-decoration: underline;
	  color: white;
	  font-weight: bold;
	}
}

.alert{
	position: fixed;
	bottom: 0;
	left: 0;/*50%;*/
	right: 0;
	z-index: 9999;
	min-width: 100%; /*20%;*/
	/*transform: translate(-50%, 0);*/
	text-align:center;
	margin-bottom:0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label{
	max-width: 80%;
	text-overflow: ellipsis;
	cursor: pointer !important;
	font-size: 1em !important;
	font-weight: 700 !important;
	text-transform: none !important;
	color: white !important;
	background-color: $brand-primary !important;
	display: inline-block !important;
	padding: 0.625rem 1.25rem;
	overflow: hidden;
	white-space: nowrap;
}
.inputfile + label svg{
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: white;
	margin-top: -0.25em;
	margin-right: 0.25em;
}
.inputfile + label *{
	pointer-events: none;
}


.inputfile:focus + label,
.inputfile + label:hover{
	background-color: red;
}

.inputfile:focus + label{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
#infoBox{
	display:none;
}
.UploadButton form{
	right:0;
	bottom:0;
}
#medicines-list{
	margin-top: 5px;
}
.closeon{
	position: absolute;
    right: 5px;
    top: 3px;
    z-index: 100;
    cursor:pointer;
    
}
.closeon:hover{
    color:black;
 }
.appointment-details{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 8px;
	top:0;
	z-index: 90;
	cursor:pointer;
}
.activesHistory{
	margin-right:2px;
}
.fc-bgevent{
	h3{
		color:white;
		text-shadow:1px 1px 2px rgba(0,0,0,.8);
		font-size: 1.5rem;
		text-align:center;
	}
	.closeon{
		color:white;
	}
}
.btn-close-cita{
	display: none;
}
.popover-title{
	background-color:#3C8DBC;
	color:white;
}
.box-search-medic
{

	min-height: 128px;
	.small-box-footer 
	{
		position: absolute !important;
		bottom: 0;
		width: 50%;

	}
	.footer-general{
	  left: 0 !important;
	}
	.footer-specialist{
	  right: 0 !important;
	}
	.footer-general:hover,
	.footer-specialist:hover{
		background-color: #00A3CB !important;
	}
	.small-box{
		position:relative;
		background-color: white;
		color: #00A3CB;
		z-index: 1;
		a{ 
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom:0;
		}
	}
	.small-box:hover{
		background-color: #3C8DBC !important;
		color: white !important;
	}

}
.box-create-appointment{
	display: none;
}
@media screen and (min-width:1024px){
	.box-create-appointment{
		display:block;
	}

}
.box-search-filters{
	position: relative;
	.box-header{
		text-align:center;
	}
	.box-tools{
		position:static !important;
	}
	.btn-box-tool{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		padding: 1.2rem 0;
		i{
			float: right;
			margin-right: 1rem;
		}
	}
}
.callout-search{
		display:none;
	}
@media screen and (min-width:768px){
	.callout-search{
		display:block;
	}

}

 @media only screen and (max-width: 800px) {
  
        /* Force table to not be like tables anymore */
        #no-more-tables table, 
        #no-more-tables thead, 
        #no-more-tables tbody, 
        #no-more-tables th, 
        #no-more-tables td, 
        #no-more-tables tr { 
          display: block; 
        }
       
        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
       
        #no-more-tables tr { border: 1px solid #ccc; }
       
        #no-more-tables td { 
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee; 
          position: relative;
          padding-left: 50%; 
          white-space: normal;
          text-align:left;
        }
       
        #no-more-tables td:before { 
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          width: 45%; 
          padding-right: 10px; 
          white-space: nowrap;
          text-align:left;
          font-weight: bold;
        }
       
        /*
        Label the data
        */
        #no-more-tables td:before { content: attr(data-title); }
      }

/**** AdminLTE.css *****/
@import "AdminLTE";