@import "bootstrap";
@import "animate";
// Variables
@import "variables";

@media print {
  #app {
  	//font-size:10px;
  }
  #app .menu-fixed, #app .boxes-home{
  	display:none;
  }
   #app .filters{
  	display:none;
  }
  #app .tooltip{
  	display:none;
  }
  .invoice-ticket
  {
	width:250px !important;
	margin:0px !important;
	text-align:center;
  }
  .main-footer{
  	display:none;
  }
  
}
.login-page, .register-page{
	background-image: url('/img/bg.jpg') !important;
	background-size:cover;
	background-position: center center;
	img{
		width:100%;
	}
}
.login-page .login-logo a,  .login-page .register-logo a{
	max-width: 200px;
    display: inline-block;
}
.logo-mini{
	/*img{
		width:90%;
	}*/
}
.logo-lg{
	/*img{
		width:30px;
		width:30px;
	}*/
}
.evaluation-off{
	opacity: .6;
}
.navbar-brand{
	padding: 0;
}
.terms-container{
	height: 180px;
    overflow-y: scroll;
    padding: 1rem;
	margin-bottom: 1rem;
	background-color: #F6F4EC;
}
.terms-check-container{
	font-size: 1.8rem;
}
.bg-home{
	background-image: url('/img/bg-home.jpg') !important;
	background-size: cover !important;
	background-position: center center!important ;
	background-attachment: fixed;
}
.bg-medics{
	background-image: url('/img/bg-medics.jpg') !important;
	background-size: cover !important;
	background-position: center center!important ;
	background-attachment: fixed;
}
.bg-clinics{
	background-image: url('/img/bg-clinics.jpg') !important;
	background-size: cover !important;
	background-position: center center!important ;
	background-attachment: fixed;
}
.bg-account{
	background-image: url('/img/bg-account.jpg') !important;
	background-size: cover !important;
	background-position: center center!important ;
	background-attachment: fixed;
}
.bg-expedients{
	background-image: url('/img/bg.jpg') !important;
	background-size: cover !important;
	background-position: center center!important ;
	background-attachment: fixed;
}
.bg-appointments{
	background-image: url('/img/bg-appointments.jpg') !important;
	background-size: cover !important;
	background-position: center center!important ;
	background-attachment: fixed;
}
.bg-patients{
	background-image: url('/img/bg-patients.jpg') !important;
	background-size: cover !important;
	background-position: center center!important ;
	background-attachment: fixed;
}
.bg-reports{
	background-image: url('/img/bg-reports.jpg') !important;
	background-size: cover !important;
	background-position: center center!important ;
	background-attachment: fixed;
}
.bg-invoices{
	background-image: url('/img/bg-invoices.jpg') !important;
	background-size: cover !important;
	background-position: center center!important ;
	background-attachment: fixed;
}

.banner{
	text-align: center;
	.banner-logo{
		display: inline-block;
		width:100px;
		img {
			width:100%;
		}
	}
}
@media screen and (min-width:768px){
	.banner{
		.banner-logo{
			width:200px;
			
		}
	}
}
/*.notifications-menu .dropdown-menu .menu .appointment-li{
	position:relative;
}
.notifications-menu .dropdown-menu .menu .appointment-li:before{
	content:'';
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	position: absolute;
	top:50%;
	transform: translate(0,-50%);
	border-right:10px solid blue; 
}*/
.preview-notification-details{
	position: absolute;
    top: 90px;
    background:white;
    width: 110%;
	height: 100%;
	border: 1px solid #eee;
    border-radius: 4px;
}
@media screen and (min-width:620px){
	.preview-notification-details{
		top: 0;
		left: -112%;
	
	}
}
.invoice-tab{
	background-color: #dd4b39 !important;
	color: white !important;
}
.invoice-info{
	.invoice-col{
		text-align: center;
	}
}
.invoice-patient{
	.invoice-left{
		text-align: left;
	}
	.invoice-right{
		text-align: right;
	}
}

.invoice-number{
	margin-top: 2rem;
	border: 2px solid #000;
	border-radius: 15px;
	padding: 1rem;
	max-width: 175px;
	display: inline-block;
	margin-bottom: 1rem;
	h3{
		margin-bottom: 0;
		margin-top: 0;
	}
	h4{
		margin-top: 0;
		margin-bottom: 0;
	}
}
.invoice{
	.logo{
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		height: 140px;
		text-align:center;
		img{
			height: 100%;
		}
	}
	h2{
		margin-top: 0;
	}
	hr{
		border-top: 1px solid #c3c3c3;
	}
}
.widget-user-2 .widget-user-image > img{
	height: 65px !important;
}
.invoice-ticket
{
	width:250px !important;
	text-align:center;
	margin:0px !important;
}
.general-review
{
	text-align:center;
}
.box-comments{
	margin-top:1rem;
}
 .ratings {
        width: 290px !important;
        display: inline-block;
    }
    .ratings-targets{
      display: inline-block;
    }

    .ratings img{
        width: 55px;
        height: 50px;
        display: inline-block;
    }
.calendar-medic-day
{
	max-width:200px;
	.fc-scroller{
		height: 600px !important;
	}
	.fc-toolbar{
		display:none !important;
	}
	.input-group{
		position: static;
	}
}
.radio-facturar{
	margin-bottom: 1rem !important;
}
.question{
	display:block;
	margin-bottom: 1rem;
}
.form-changeoffice{
	float: left;
	width: 150px;
	margin-top: 8px;

}
.summary-flex{
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
}
.summary-flex dl{
	float: left;
	width:100%
}
.print-summary-page dl{
	width: 48% ;
}
.td-lugar{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 15px;
    padding: .5rem 0;
    border-bottom: 1px solid #e4e4e4;

}
.td-lugar .td-lugar-name{
	margin-bottom:10px;
}
.td-lugar .td-lugar-info .btn{
	margin-bottom:10px;
}
@media screen and (min-width:640px){
	.td-lugar .td-lugar-name{
		width:35%;
	}
	.td-lugar .td-lugar-info{
		width:60%;
	}
}
body.loading:after{
	content: '';
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height:100%;
	background-color: rgba(white,.5);
	z-index: 998;
}
body.loading:before{
	content: url('/img/loader.gif');
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	z-index: 999;
}
.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader .img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
	span{
		display:block;
	}
}
.schedule-list{
	margin-left: -21px;
}
/*.preloader div {
	display: none;
	/* Preload the Second Pricing Image */
	//background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
	//background-position: 9999px 9999px;
/*}*/
.menu-fixed{
	position: relative;
	padding: .5rem;
	.menu-fixed-container{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
		a {
			margin-bottom: .5rem;
		}
	}
}
.menu-fixed.scroll{
	background-color: #3c8dbc;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.content.menu{
	min-height:auto;
}
.boxes-home.none{
	display:none;
}
.todo-list>li .tools
	{
		display:block !important;
	}
.todo-list>li:hover .tools{
	display:inline-block !important;
}
@media screen and (min-width:1024px){
	
	.todo-list>li .tools
	{
		display:none !important;
	}

}
@media screen and (min-width:1024px){
	.menu-fixed{
		display:none;
	}
	.boxes-home.none{
		display:block !important;
	}

}

.boxes-home{
	.small-box h3{
		font-size:28px;
	}
}

.external-event{
	padding: 0px 10px !important;
	font-size:12px;
	width: 130px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fc-event:hover {
  border-color: #1c7d87 !important;
}
.fc-event:hover .fc-content {
  color: #1c7d87 !important;
}
// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
td.fc-day.fc-past{
    /*background-color: #dd4b39 !important;
    opacity: .65 !important;
    cursor: not-allowed !important;*/
}
/*.fc-day:hover{background:lightblue;cursor: pointer;}
.fc-content:hover{background:lightblue;cursor: pointer;}
.fc-content td:hover{background: #adf4fa;}*/
.fc-nonbusiness {
    background-color: #a9a9a9 !important;
    opacity: .65;
    cursor: not-allowed;
}

.fc-event{
	  .fc-title{
		display:none !important;
	  }
	}

.medico-calendar .fc-bgevent-container .fc-bgevent{
	/*background-color: transparent !important;*/
	opacity: .5;
}
#miniCalendar .fc-center h2{
	font-size: 16px;
	font-weight: bold;
}
#miniCalendar .appointment-details{
	bottom: 0;
}
.calendar-popup #calendar .fc-center h2{
	font-size: 12px;
}
/*.title-bg-event{
	display:none;
	
}*/
@media screen and (min-width:640px){
	.fc-event{
	  .fc-title{
		display:inline-block !important;
	  }
	}
	.title-bg-event{
		display:inline-block;
		max-width: 160px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
	}
	.medico-calendar .fc-bgevent-container .fc-bgevent .title-bg-event{
		display:inline-block;
		font-size: 13px;
		top: 45%;
		position: absolute;
		transform: rotate(90deg) ;
		
		color: #000;
	}
}
#calendar .fc-center h2{
	font-size:22px;
}
#calendar .fc-toolbar{
	background-color: #605ca8;
	color:white;
}
#calendar .fc-today, .calendar-medic-day .fc-today {
  background: white !important;
}
.box-body #calendar{
	margin-top: 0 !important;
}
.btn.active{
	border-bottom: 4px solid #000;
}
.cita-item{
	position:relative;
	button{
		position: absolute;
		right:0;
		bottom:0;
	}
}
.form-control{
	border-radius: 0;
}
.help-block{
	color: #C23321;
}
.notifications-container{
	text-align: center;
	.btn-payall{
		margin-top: 5px;
	}
}
.notification-app{
	text-align:center;
	padding: .5rem;
	a {
	  text-decoration: underline;
	  color: white;
	  font-weight: bold;
	}
}

.alert{
	position: fixed;
	bottom: 0;
	left: 0;/*50%;*/
	right: 0;
	z-index: 9999;
	min-width: 100%; /*20%;*/
	/*transform: translate(-50%, 0);*/
	text-align:center;
	margin-bottom:0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label{
	max-width: 80%;
	text-overflow: ellipsis;
	cursor: pointer !important;
	font-size: 1em !important;
	font-weight: 700 !important;
	text-transform: none !important;
	color: white !important;
	background-color: $brand-primary !important;
	display: inline-block !important;
	padding: 0.625rem 1.25rem;
	overflow: hidden;
	white-space: nowrap;
}
.inputfile + label svg{
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: white;
	margin-top: -0.25em;
	margin-right: 0.25em;
}
.inputfile + label *{
	pointer-events: none;
}


.inputfile:focus + label,
.inputfile + label:hover{
	background-color: red;
}

.inputfile:focus + label{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
#infoBox{
	display:none;
}
.UploadButton form{
	right:0;
	bottom:0;
}
#medicines-list{
	margin-top: 5px;
}
.closeon{
	position: absolute;
    right: 5px;
    top: 3px;
    z-index: 100;
    cursor:pointer;
    
}
.closeon:hover{
    color:black;
 }

.appointment-details{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 8px;
	top:0;
	z-index: 90;
	cursor:pointer;
}
.fc-bgevent{
	color: #fff;
	.appointment-details{
		bottom: 0;
	}
}
.activesHistory{
	margin-right:2px;
}
.fc-bgevent{
	h3{
		color:white;
		text-shadow:1px 1px 2px rgba(0,0,0,.8);
		font-size: 1.5rem;
		text-align:center;
	}
	.closeon{
		color:white;
	}
}
.btn-close-cita{
	display: none;
}
.popover-title{
	background-color:#3C8DBC;
	color:white;
}
.box-search-medic
{

	min-height: 128px;
	.small-box-footer 
	{
		position: absolute !important;
		bottom: 0;
		width: 50%;

	}
	.footer-general{
	  left: 0 !important;
	}
	.footer-specialist{
	  right: 0 !important;
	}
	.footer-general:hover,
	.footer-specialist:hover{
		background-color: #00A3CB !important;
	}
	.small-box{
		position:relative;
		background-color: white;
		color: #00A3CB;
		z-index: 1;
		a{ 
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom:0;
		}
	}
	.small-box:hover{
		background-color: #3C8DBC !important;
		color: white !important;
	}

}
.box-create-appointment{
	display: none;
}
@media screen and (min-width:1024px){
	.box-create-appointment{
		display:block;
	}

}
.box-header>.box-tools
{
	position: relative !important;
	right:auto !important;
}
@media screen and (min-width:768px){
	.box-header>.box-tools
	{
		position: absolute !important;
		right:10px !important;
	}
}
.box-search-filters{
	position: relative;
	.box-header{
		text-align:center;
	}
	.box-tools{
		position:static !important;
	}
	.btn-box-tool{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		padding: 1.2rem 0;
		i{
			float: right;
			margin-right: 1rem;
		}
	}
}
.columns
{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.medic-list-selected{
	background: #F4F4F4 !important;
    border: 1px solid #e3e3e3;
    padding: 10px 5px !important;
}
.callout-search{
		display:none;
	}
.medic-list{
	list-style: none;
    margin: 0;
    padding: 0;
}
.results-list > li{
	background: white !important;
	/*color: white !important;*/
}
.medic-list>.item {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 10px 0;
    background: #fff;
}
.medic-list-in-box>.item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #f4f4f4;
}
.medic-list .medic-img{
	float:left;
	margin-top: -5px;
}
.medic-list .medic-info {
    margin-left: 60px;
}
.medic-list .medic-description {
    display: block;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.medic-item{
	padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color:white;
    display:block;
}
.medic-item:hover{
	color:white;
}
.medic-item.active{
	background-color:rgb(60, 141, 188);
}
.medic-item.inactive{
	background-color:#f56954; 
}
@media screen and (min-width:768px){
	.callout-search{
		display:block;
	}

}
.box-chart{
	
}
@media screen and (min-width:768px){
	.box-chart{
		max-width: 480px;
		margin:0 auto;
	}

}

 @media only screen and (max-width: 800px) {
  
        /* Force table to not be like tables anymore */
        #no-more-tables table, 
        #no-more-tables thead, 
        #no-more-tables tbody, 
        #no-more-tables th, 
        #no-more-tables td, 
        #no-more-tables tr { 
          display: block; 
        }
       
        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
       
        #no-more-tables tr { border: 1px solid #ccc; }
       
        #no-more-tables td { 
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee; 
          position: relative;
          padding-left: 50%; 
          white-space: normal;
          text-align:left;
        }
       
        #no-more-tables td:before { 
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          width: 45%; 
          padding-right: 10px; 
          white-space: nowrap;
          text-align:left;
          font-weight: bold;
        }
       
        /*
        Label the data
        */
        #no-more-tables td:before { content: attr(data-title); }
      }


.nav-tabs-custom>.nav-tabs>li.active:hover>a, .nav-tabs-custom>.nav-tabs>li.active>a{
	background-color: rgba(#3C8CBB,.45) !important;
	color:white !important;
}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 5;
}

.overlay-relative{
  position: relative;
  z-index: 7;
}

.helper{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background: #FFF;
  border-radius: 4px;
  z-index: 6;
}
/**** AdminLTE.css *****/
@import "AdminLTE";